pkgbase = rogue-enemy-git
	pkgdesc = Convert ROG Ally [RC71L] input to DualShock4 and allows mode switching with a long CC press
	pkgver = 1.3.0
	pkgrel = 2
	url = https://github.com/NeroReflex/ROGueENEMY/
	arch = x86_64
	license = GPLv2
	makedepends = cmake
	depends = libconfig
	depends = libevdev
	provides = rogue-enemy
	options = lto
	source = rogue-enemy::git+https://github.com/NeroReflex/ROGueENEMY.git#branch=main
	source = rogue-enemy.service
	sha256sums = SKIP
	sha256sums = e7c8d03c3a9a516541bbacffd5cf3cf2c1ac209fde303e946d36ce1290bb7081

pkgname = rogue-enemy-git
